@define-color bg #2F3138;
@define-color fg #C7C6C1;
@define-color gray1 #8A8F6B;
@define-color gray2 #737373;
@define-color gray3 #4A5A70;
@define-color gray4 #D9C8B7;
@define-color gray5 #5F5FBF;
@define-color fg_bright #C7C6C1;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}