@define-color bg #2F3138;
@define-color fg #C7C6C1;
@define-color gray1 #8B8E76;
@define-color gray2 #8C8B86;
@define-color gray3 #7F8DA1;
@define-color gray4 #D6C8BA;
@define-color gray5 #8383C3;
@define-color fg_bright #CBCAC6;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}